@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

.marq{
    height: 70px;
    font-size: 2.5rem;
    color:darkblue;
    background-color: palevioletred;
    display: flex;
    align-items: center;
}

header{
    background-color: rgba(229, 84, 115, 0.2);
    height: auto;
    padding: 0 140px;
    box-sizing: border-box;
}

.display-flex{
    display: flex;
}
.lets-con{
    width: 45%;
}

.lets{
    font-weight: 800;
    font-size: 5rem;
}

.lets-p{
    margin: 32px 0;
    color: rgba(39, 39, 39, 0.6);
    font-size: 1.2rem;
}
.lets-btn{
    width: 177px;
    height: 64px;
    text-align: center;
    border-radius: 8px;
    border: none;
    background: rgb(229, 84, 115);
    color: white;
    font-size: 1.3rem;
}
.flower-head{
    padding-top: 50px;
    align-items: center;
    justify-content: space-between;
}
.featu-f{
    font-weight: 800;
    font-size: 2.5rem;
}
.test{
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center; 
}
.featu-p{
    width: 45%;
}
.main-con{
    margin-top: 150px;
    padding: 0 140px;
    text-align: center;
}
.card-con{
    margin-top: 48px;
    justify-content: space-between;
}
.card{
    width: 464px;
    height: 605px;
}
.cardi{
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.card-1{
    background: rgba(167, 33, 98, 0.15);
}
.card-2{
    background: rgba(5, 151, 160, 0.15)
}
.card-3{
    background: rgba(71, 125, 17, 0.15)
}
.pink{
    margin-top: 32px;
    font-size: 1.5rem;
    color: rgb(39, 39, 39);
}